@import "abstracts/variables";
@import "abstracts/colors";

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  z-index: 1;

  .disabled {
    background-color: $color-gray-cultured;
  }

  .list-item {
    width: 110px;
    height: 30px;
    border: 1px solid $color-grey-neutral;
    padding-left: 1rem;
    line-height: 2.9rem;
    background-color: $color-neutral;
    color: $color-gray-spanish;
  }

  &__content {
    transition: opacity 150ms linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    padding: 2px 0 0 0;
    margin: 0;

    &.open {
      opacity: 1;
      visibility: visible;
    }

    .item {
      border-color: $color-grey-neutral;
      list-style-type: none;

      &:hover {
        color: $color-primary;
        box-shadow: 0 0 2px 0 $color-grey-neutral inset;
      }
    }
  }
}

