@mixin range-slider($width, $height, $float:none, $input-height:10px, $input-border-radius:14px) {
  position: relative;
  width: $width;
  height: $height;
  float: $float;
  text-align: center;

  input[type="range"] {
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: none;
    width: $width;
    outline: none;
    height: $input-height;
    margin: 0;
    padding: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    background-color: #dadada;
  }
}

section.range-slider {
  @include range-slider(250px, 300px, #413F41, left);
}

.range-slider__line {
  display: block;
  width: 100%;
  height: 0.7px;
  background: #beae59;
  position: absolute;
  top: 7.5px;
}

