<div class="main-menu-wrapper">
  <div class="main-menu container">
    <div class="home-logo-wrapper">
      <a href="#"><i class="bi bi-house-fill"></i></a>
    </div>
    <div class="main-menu__item"><a href="#">SHOP</a></div>
    <div class="main-menu__item"><a href="#">BLOG</a></div>
    <div class="main-menu__item"><a href="#">PORTFOLIOS</a></div>
    <div class="main-menu__item"><a href="#">PAGES</a></div>
    <div class="main-menu__item"><a href="#">PAGES</a></div>
    <div class="main-menu__item"><a href="#">VENDOR</a></div>
    <div class="empty"></div>
    <div class="hot-deals"><a href="#">HOT DEALS</a></div>
    <div class="social-media-links">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-google"></i></a>
      <a href="#"><i class="bi bi-telegram"></i></a>
    </div>
  </div>
</div>
