$color-neutral: #fff;

$color-gray-cultured: #eeeeee;
$color-gray-platinum: #e9e9e9;
$color-gray-spanish: #999999;
$color-grey-davys: #4b4b4b;

$color-primary: #bfb05c;
$color-alert: #ff0505;
$color-warning-accent: #ff5a26;
$color-warning: #ff9601;
$color-secondary: #08abf4;

