$sprite-list-view: -20px -944px;
$sprite-list-view-active: -20px -975px;
$sprite-grid-view: -20px -864px;
$sprite-grid-view-active: -20px -895px;

$sprite-like: center -1786px;
$sprite-like-active: center -1753px;
