//== Bootstrap override
// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);

//== Screen breakpoints
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 960px;
$screen-lg: 1200px;

// Global
$shopping-cart-width: 14rem;
