//== Bootstrap overriding
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

//== Screen breakpoints
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 960px;
$screen-lg: 1200px;

// Global
$assets-path: "/assets";
$images-path: "#{$assets-path}/images";
$shopping-cart-width: 14rem;

// Typography
$font-weight-normal: normal;
$font-weight-bold: bold;

$font-size-normal: 1.3rem;
