<div class="row">
  <div class="col-sm-6">
    <app-product-gallery [files]="imageFiles"></app-product-gallery>
  </div>
  <div class="col-sm-6">
    <form [formGroup]="productForm">
      <app-control-wrapper label="{{'product.name' | translate}}">
        <input type="text" class="form-control" id="product-name" formControlName="name" autocomplete="off">
      </app-control-wrapper>
      <app-control-wrapper label="{{'product.price' | translate}}">
        <input mask="0*.00" type="text" class="form-control" id="product-price" formControlName="price" autocomplete="off">
      </app-control-wrapper>
      <div class="form-group">
        <label for="image-url" class="control-label"></label>
        <input #fileInput type="file" class="form-control" id="image-url" accept="image/*" multiple style="display:none"
               (change)="onFilesSelected($event.target.files)">
        <button class="btn btn-light" (click)="fileInput.click()"><i class="bi bi-box-arrow-down"></i></button>
      </div>
      <button type="button" class="btn btn-primary create-product-btn" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>
