@import "abstracts/colors";

* {
  outline: none;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: $color-gray-cultured;
  overflow-y: scroll;
}

.page-container {
  margin-top: 4rem;
}




