<div class="row">
  <aside class="col-md-3">
    <app-section [caption]="'Shop by'">
      <app-range-slider [initialFrom]="minRangeValue" [initialTo]="maxRangeValue" [max]="maxRangeValue" [step]="100"
                        (from)="range.from = $event" (to)="range.to = $event"></app-range-slider>
      <br>
      <input type="text" [value]="range.from">
      <input type="text" [value]="range.to">
    </app-section>
  </aside>
  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 product-wrapper" *ngFor="let product of (products$ | async)">
        <app-product  [product]="product"></app-product>
      </div>
    </div>
  </div>
</div>
