<div class="main-menu-wrapper">
  <div class="container">
    <div class="main-menu">
      <nav class="menu-prime">
        <div class="menu-prime__item home-logo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="bi bi-house-fill"></i>
        </div>
        <div class="menu-prime__item" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          {{'products' | translate}}
        </div>
      </nav>
      <ul class="social-media-links">
        <li class="social-media-links__item"><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-google"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-telegram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
