<div class="main-menu-wrapper">
  <div class="container">
    <div class="main-menu">
      <nav class="menu-prime">
        <div class="menu-prime__item home-logo">
          <a href="#"><i class="bi bi-house-fill"></i></a>
        </div>
        <div class="menu-prime__item"><a href="#">SHOP</a></div>
        <div class="menu-prime__item"><a href="#">BLOG</a></div>
        <div class="menu-prime__item"><a href="#">PORTFOLIOS</a></div>
        <div class="menu-prime__item"><a href="#">PAGES</a></div>
      </nav>
      <ul class="social-media-links">
        <li class="social-media-links__item"><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-google"></i></a></li>
        <li class="social-media-links__item"><a href="#"><i class="bi bi-telegram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
